.user-profile {
  text-align: center;
}

.card{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.user-info p strong {
  color: #555;
}
