.user-profile {
  text-align: center;
}
.custom-card{
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.user-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.user-info p strong {
  color: #555;
}
