<app-loading [isLoading]="isLoading"></app-loading>
<div class="login-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" pInputText formControlName="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small class="p-error">El correo es requerido.</small>
      </div>
    </div>

    <button type="submit" pButton label="Recuperar" [disabled]="loginForm.invalid"></button>
    <a [href]="['login']">Ingresar</a>

  </form>
</div>
