<app-loading [isLoading]="isLoading"></app-loading>
<div class="custom-card ">
  <div class="content">
    <div class="flex-container">
      <img [src]="user.profileUrl??'default-profile.png'" class="profile-picture" style="width: 50px;  height: 50px;"/>
      <span>&nbsp;</span>
      <span class="font-bold fz-1rem">
        {{user.label}}
      </span>

      <span>&nbsp;</span><p-button *ngIf="user.status==undefined" icon="pi pi-user-plus" [rounded]="true"
        (onClick)="sendFriendRequest()" />
      <span>&nbsp;</span><p-button *ngIf="user.status==requestStatus.accepted" icon="pi pi-times" [rounded]="true"
        (onClick)="deleteFromFriends()" severity="danger" />
      <span>&nbsp;</span><p-button *ngIf="user.status==requestStatus.sent" icon="pi pi-times" [rounded]="true"
        (onClick)="deleteFriendRequest()" severity="danger" />
      <span>&nbsp;</span> <p-button *ngIf="user.status==requestStatus.sent && !imOwner" icon="pi pi-check"
        [rounded]="true" (onClick)="acceptFriendRequest()" />

    </div>
  </div>
</div>
<br>
