<app-loading [isLoading]="isLoading"></app-loading>
<p class="title">Mis albumes</p>
<p-button icon="pi pi-plus"  (click)="createAlbum()"></p-button>
<input type="text" placeholder="Buscar" pInputText [(ngModel)]="defaultFilter.search"/>
<p-button icon="pi pi-times" severity="danger" *ngIf="defaultFilter.search"   (click)="defaultFilter.search=undefined"></p-button>
<p-button icon="pi pi-search"  (click)="search()"></p-button>

<br><br>
<label class="tri-state-container">
  <p-triStateCheckbox [(ngModel)]="defaultFilter.status" inputId="tricheckbox"></p-triStateCheckbox>
  <label [ngSwitch]="defaultFilter.status" for="tricheckbox">
    <!-- Contenido para la vista de lista -->
    <span *ngSwitchCase="false">Inactivos</span>
    <!-- Contenido para la vista de cuadrícula -->
    <span *ngSwitchCase="true">Activos</span>
    <!-- Contenido por defecto -->
    <span *ngSwitchDefault>Todos</span>
  </label>
</label>




<div class="center-cards-container">
  @for (item of albums; track $index) {
    <app-album-card [album]="item" (reloadEvent)="loadData()" ></app-album-card>
  }
</div>

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="paginateComponent.first"
  [rows]="paginateComponent.rows"
  [totalRecords]="paginateComponent.totalRecords"
  [rowsPerPageOptions]="[4,5,10, 20, 30]">
</p-paginator>

