<app-loading [isLoading]="isLoading"></app-loading>
<div class="default-form-container">
  <form [formGroup]="momentForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="moment-title">Título del Momento:</label>
      <input id="moment-title" type="text" pInputText formControlName="title" required />
    </div>

    <div class="p-field">
      <label for="moment-description">Descripción:</label>
      <textarea id="moment-description" pInputTextarea formControlName="description" required></textarea>
    </div>

    <div  >
      <label for="moment-date">Fecha:</label><br>
      <p-calendar id="moment-date" formControlName="date" dateFormat="dd/mm/yy" required></p-calendar>
    </div>

    <div class="p-field">
      <label for="moment-location">Lugar:</label>
      <input id="moment-location" type="text" pInputText formControlName="place" required />
    </div>

    <div class="p-field">
      <label for="moment-images">Imágenes:</label>
      <p-fileUpload name="images" chooseLabel="Seleccionar foto" customUpload [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onFileSelect($event)" (onRemove)="onFileRemove($event)" multiple accept="image/*"></p-fileUpload>
    </div>

    <div id="image-preview-container">
      <div id="image-preview">
        <div *ngFor="let image of preloadedImages" class="image-card">
          <img [src]="image.url" />
          <button type="button" (click)="removePreloadedImage(image)">&times;</button>
        </div>
        <!-- <div *ngFor="let file of fileList" class="image-card">
          <img [src]="file | fileToObjectUrl" />
          <button type="button" (click)="onFileRemove({ file: file })">&times;</button>
        </div> -->
      </div>
    </div>

    <button pButton type="submit" class="submit" label="Guardar" [disabled]="momentForm.invalid"></button>
  </form>

</div>
