<p-toast />
<p-confirmDialog />
<div class="">
  <p-sidebar [(visible)]="sidebarVisible">
      <ng-template pTemplate="header">
          <div class="flex-container">
              <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                  shape="circle" />
              <span class="font-bold">
                 {{(currentUser | async)?.name}}
              </span>
          </div>
      </ng-template>
      <div class="">
        <p-panelMenu [model]="items" styleClass="" />
      </div>
      <p>
        {{(currentUser | async)?.email}}
      </p>
      <p>
        {{(currentUser | async)?.phoneNumber}}
      </p>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
</div>
<router-outlet></router-outlet>
