<p-toast />
<p-confirmDialog />
<div class="">
  <p-sidebar [(visible)]="sidebarVisible">
      <ng-template pTemplate="header">
          <div class="flex-container">
              <img
                  [src]="(currentUser | async)?.profilePicture?? 'default-profile.png'"
                  class="profile-picture" style="width: 35px; height: 35px;" />
              &nbsp;<span class="font-bold">
                 {{(currentUser | async)?.name}}
              </span>
          </div>
      </ng-template>
      <div class="">
        <p-panelMenu [model]="items" styleClass="" />
      </div>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
</div>
<router-outlet></router-outlet>
