<app-loading [isLoading]="isLoading"></app-loading>
<div class="default-form-container ">


   <form [formGroup]="userForm" (ngSubmit)="submit()">
     <div class="p-field">
       <label for="currentPassword">Contraseña actual</label>
       <input id="currentPassword" type="password" pInputText formControlName="currentPassword">
       <div *ngIf="userForm.get('currentPassword')?.invalid && userForm.get('currentPassword')?.touched" class="p-error">
         La contraseña actual es requerida.
       </div>
     </div>

     <div class="p-field">
       <label for="newPassword">Nueva contraseña</label>
       <input id="newPassword" type="password" pInputText formControlName="newPassword">
       <div *ngIf="userForm.get('newPassword')?.invalid && userForm.get('newPassword')?.touched" class="p-error">
         La nueva contraseña es requerida.
       </div>
     </div>

     <div class="p-field">
       <label for="confirmPassword">confirmación de contraseña</label>
       <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword">
       <div *ngIf="userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched" class="p-error">
         La confirmación de la contraseña es requerida.
       </div>
       <div *ngIf="userForm.errors &&userForm.errors!['passwordsMismatch'] && userForm.get('confirmPassword')?.touched" class="p-error">
        Las contraseñas no coinciden.
      </div>
     </div>

     <button pButton type="submit" label="Guardar" class="w100 mt-5" [disabled]="userForm.invalid"></button>
   </form>

 </div>
