<div class="default-form-container ">
  <form [formGroup]="shareForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="options">Selecciona una opción</label>
      <p-dropdown
        id="options"
        [options]="options"
        optionLabel="label"
        formControlName="albumId"
        placeholder="Selecciona una opción"
        showClear="true"
        optionValue="id"
        >
      </p-dropdown >
      <div *ngIf="shareForm.get('sharedUsersId')?.hasError('required') && shareForm.get('sharedUsersId')?.touched">
        <small class="p-error">Debes seleccionar al menos una opción.</small>
      </div>
    </div>
    <br>
    <button type="submit" class="submit" pButton label="Guardar album" [disabled]="shareForm.invalid"></button>
    <button type="reset"  pButton label="Salir" severity="danger" class="w100 mt-5" (click)="onDialogClose()"></button>
  </form>
</div>
