<div class="custom-card w-300" id="moment-card-{{album.id}}">
  <div class="content">
    <h2>{{ album.name }}</h2>
    <p>{{ album.description }}</p>

    <div class="buttons-container">
      @if (imOwner) {
        <p-button icon="pi pi-pen-to-square" (click)="editAlbum()"></p-button>
        <p-button icon="pi pi-trash"  severity="danger" (click)="deleteAlbum()"></p-button>
        <p-button icon="pi pi-share-alt"  severity="success" (click)="shareAlbum()"></p-button>
      }
      <p-button  icon="pi pi-book"  severity="info" (click)="navigateToAlbum(album.id)"></p-button>
    </div>

    <div class="buttons-container" *ngIf="!imOwner">
      <span>
        <b>Compartido por: </b>
        <div class="flex-container">
          <p-avatar [image]="album.profileUrl??'default-profile.png'" shape="circle" />
          <span class="font-bold">
            {{album.ownerName}}
          </span>
        </div>
      </span>
    </div>
  </div>
</div>

