/* You can add global styles to this file, and also import other style files */
:root {
  --red: #ff0000;
  --blue: #0000ff;
  --green: #00ff00;
  --yellow: #ffff00;
  --orange: #ffa500;
  --purple: #800080;
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
  --light-gray: #d3d3d3;
  --dark-gray: #a9a9a9;
}
html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color del texto */
  text-align: center; /* Alinear el texto al centro */
  margin: 20px 0; /* Márgenes superior e inferior */
}
.center-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Espacio aumentado entre las tarjetas */
  padding: 16px; /* Espacio alrededor del contenedor */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.default-form-container label {
  align-self: flex-start; /* Alinear las etiquetas a la izquierda */
}

.default-form-container input,.default-form-container .p-multiselect, .default-form-container .p-dropdown , .default-form-container textarea,.default-form-container .p-calendar  {
  width: 100%; /* Asegurar que los inputs tengan el mismo tamaño */
}

.default-form-container .submit {
  align-self: center; /* Centrar el botón */
  width: 100%; /* Asegurar que el botón ocupe todo el ancho del formulario */
}

.scroll-container {
  max-height: 150px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;  /* Habilita el desplazamiento vertical */
  border: 1px solid #ccc; /* Opcional: añade un borde para visualizar mejor el contenedor */
  padding-left: 10px; /* Opcional: añade un padding para mejor apariencia */
  padding-right: 10px;
}

.list-item {
  border-bottom: 1px solid #ddd; /* Añade un borde inferior como separador */
}

.list-item:last-child {
  border-bottom: none; /* Elimina el borde inferior del último elemento */
}

.flex-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido del contenedor */
}

.flex-container i {
  margin-left: 8px; /* Añade un margen izquierdo para separar el icono del texto */
}

.red-color{
  color: var(--red);
}

.cursor-pointer {
  cursor: pointer;
}

.w100{
  width: 100%;
}

.mt-5{
  margin-top: 5px;
}

/* moment.component.css */
.tri-state-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el checkbox y el label */
}

.tri-state-container label {
  margin: 0; /* Eliminar márgenes predeterminados */
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.custom-card .content {
  padding: 1rem;
}

.custom-card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.custom-card p {
  margin: 0;
  color: #555;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.w100{
  width: 100%;
}
